<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    <h1>Hiii</h1>
    <a href="{% url 'create' %}"><img style="border-radius: 50%;" src="{% static 'images/Bank-logo.jpg' %}" alt="Bank-logo" height="100px"></a>
    <a href="{% url 'pin' %}"><img style="border-radius: 50%;" src="{% static 'images/pin-generation.png' %}" alt="Pin-logo" height="100px"></a>
    <a href="{% url 'deposit' %}"><img style="border-radius: 50%;" src="{% static 'images/deposit-logo.jpg' %}" alt="deposit-logo" height="100px"></a>
    <a href="{% url 'balance' %}"><img style="border-radius: 50%;" src="{% static 'images/balance-logo.png' %}" alt="balance-logo" height="100px"></a>
</body>
</html>